<div class="container-fluid">
    <h2 class="text-center">CREATE NEW QUOTE</h2>
    <hr>
    <form>
        <form #quoteForm='ngForm'></form>
        <div class="form-group">
  
            <label for="quote">QUOTE</label>
            <input type="text" required class="form-control" id="quote">
            <input type="text" required class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="name">
            Display {{newQuote.quote}}
        </div>
        <div class="form-group">
  
            <label for="author">AUTHOR</label>
            <input type="text" required class="form-control" id="author">
  
  
        </div>
        <div class="form-group">
            <label for="create">CREATION DATE</label>
            <input type='date' id="create" required>
  
        </div>
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
  </div>